# Игнорировать папку .next, которая содержит сборку Next.js
.next/

# Исключить временные файлы
.DS_Store

# Исключить папку node_modules
node_modules/

# Исключить локальные конфигурационные файлы
.env

# Исключить логи и временные файлы
logs/
*.log